<p></p>
<br>
<div class="container">
<div class="panel panel-primary">
      <div class="panel-heading">Need help with wine and food pairings?</div>
      <div class="panel-body">
        <ul style="list-style-type:square">
            <li><a href="http://www.winemag.com/2014/11/12/mastering-the-art-of-wine-and-food-pairings/" target="_blank">Wine Enthusiast</a> </li>
            <li><a href="http://www.williams-sonoma.com/pages/guide-to-wine-pairing.html" target="_blank">Williams Sonoma</a> </li>
        </ul>
        </div>
        </div>
</div>
</div>