<p></p><div class="well well-sm"><h1>Heather's Beverages</h1></div>

<%= image_tag("glasses.jpg", size: "300x300", :alt => "Wine Glasses") %>

<h3>One stop shopping for all your wine-loving needs.</h3>

<button type="button" class="btn btn-lg btn-success"><%= link_to 'Time to shop!', store_index_path %>

